/*
전체너비: 너비 1150px
header, footer: height 125px
nav: 높 35
aside: 너비 225
content: width 925

게시판(최신정보/사용기): 440

*/


/*전체적으로 적용*/
body {margin: 0} /*남는 공간 없이 해주는 것*/
ul { list-style: none; padding-bottom: 0;}
#wrap {width: 1150px; margin: 0 auto;}
aside {width: 225px; float: left;}


/*header*/
header {height: 125px; background: lightseagreen;}
header h1 {background: indigo; height: 125px; width: 225px; margin: 0; color: white; float: left; }
header nav {clear: both; background: black; color: white;
height: 35px;}
header nav li {float: left; margin-left: 70px; margin-top: 5px; font-weight: bold; font-size: 18px;}

.qmenu {float: right;}
.qmenu li {float: left; margin-right: 10px; margin-top: 10px;}

.src {float: left; margin: 40px 0px 0px 160px;}
.src input {border: 5px solid aqua; height: 30px; width: 445px}
.src button {height: 45px; width: 55px; background: aqua; border: 4px outset aqua;}




/*content 왼쪽*/

aside {background: gold; width: 225px;  position: relative; top: 10px;}
aside hr {clear: both;}

.lgmenu {margin-top: 20px;}
.lgmenu li {float: left; padding:10px 10px 10px 15px; font-size: 10px;}

.atlogin li {float: left; padding:10px 0px 10px 15px; font-size: 13px}

.trylogin {margin-bottom: 180px;}
.trylogin li {float: left;}
.trylogin input {margin: 3px 12px; padding: 5px; width: 100px;}
.trylogin button {width: 65px; height: 70px; position: relative; bottom: 35px;}

#notice {clear: both; background: lightyellow;}
#notice h4 {background: black; color: white; padding: 5px}
#notice ul {margin-left: 20px; font-size: 13px; line-height: 25px }
#notice li {height: 30px; background: url(/img/teddy-bear.png) no-repeat top left; padding-left: 25px;}

.ad { width: 210px; height: 300px; margin: 40px auto; border: 1px dashed black; background: mintcream;}


/*content 오른쪽*/
#content {float: right; background: coral; margin: 10px 0px 0px 0px;}
#welcome {background: DarkSeaGreen; height: 450px; width: 850px; margin: -25px 0px 0px 30px;}
#welcome h1 {font-size: 75px; padding: 10px; font-family: Garamond;}
#welcome p {width: 650px; padding-left: 15px; line-height: 1.55; font-size: 18px;}

#board {width: 895px; height: 550px; margin: 10px 10px 10px 10px}
#newinfo {background: violet; width: 440px; height: 540px; background: ghostwhite; float: left; }
#newinfo h4 {background: violet; padding: 10px 0px 10px 20px; margin: 0;}
#newinfo li {height: 40px; background: url(/img/whale.png) no-repeat 5px 5px ; padding-left: 30px; margin-left: 10px;}
#newinfo li:first-child {padding:0; margin:0;}
#newinfo li:nth-child(2) {margin-top: 20px;}

#usedinfo {background: ghostwhite; width: 440px; float: right; }
#usedinfo h4 {background: palegreen; padding: 10px 0px 10px 20px; margin: 0;}
#usedinfo li {height: 40px; background: url(/img/whale.png) no-repeat 5px 5px ; padding-left: 30px; margin-left: 10px;}
#usedinfo li:first-child {padding:0; margin:0;}
#usedinfo li:nth-child(2) {margin-top: 20px;}

#gallery {clear: both; width: 895px; height: 450px; background: beige; margin: 90px 10px 40px 10px}
#gallery h3 {background: darkmagenta; color: white; padding: 7px 1px; margin: 10;}
#gallery li {float: left; padding-left: 30px;}
#gallery div {width: 140px; height: 140px; border: 1px dashed black;}
#gallery p {text-align: center;}



/*footer*/

footer {clear: both; background: green;}
footer .nav {background: navy; color: white; height: 35px;}
footer .nav li {float: left; padding-left: 115px; margin-top: 8px; font-weight: bold; font-size: 18px}
footer div {float: left; width: 360px; height: 115px; background: purple;}
footer p { text-align: right; font-weight: bold; margin: 80px 10px 0px 0px;}


