/*전체영역에 적용하는 스타일 시트*/
#wrap {width: 960px; margin: 0 auto; /* border: 1px solid red;*/}
/*영역 파악 목적*/

body {margin: 0} /*남는 공간 없이 해주는 것*/


/*링크에 대한 스타일 시트*/
a {font-weight: bold;}
a:link {text-decoration: none; color: black}
a:visited {text-decoration: none; color: black}
a:active {text-decoration: underline; color: orange}
a:hover {text-decoration: underline; color: orange}

/*header영역에 적용하는 스타일 시트*/

/*nav영역에 적용하는 스타일 시트*/
nav ul { list-style-type: none; padding-bottom: 20px }
nav ul li { float: left; margin-left: 100px}
nav hr {clear: both;}

/*main영역에 적용하는 스타일 시트*/
#container { min-height: 500px; }


/*join*/
#joinfrm {width: 300px; margin: 100px auto;}

#joinfrm div {margin-bottom: 10px}

#joinfrm label { display: inline-block; width: 120px; text-align: right;
                font-weight: bold;}

input, button {padding: 3px;}

input {width: 120px}


/*login*/

#loginfrm {width: 300px; margin: 100px auto;}

#loginfrm div {margin-bottom: 10px;}

#loginfrm label {display: inline-block; width: 120px; text-align: right;
                 font-weight: bold;}


/*myinfo*/

#myinfo { width: 300px; margin: 100px auto; }

.label { display: inline-block; width: 120px; text-align: right;
         font-weight: bold; margin-bottom: 10px; }


/*list*/

table {width: 710px; margin: 0 auto; border-collapse: collapse;
        table-layout: fixed;}
th, td {border: 1px solid black; text-align: center; padding: 10px;}

thead {font-weight: bold;}

td:nth-child(2) {white-space: nowrap; overflow: hidden;
                 text-overflow: ellipsis }

.newbtn {text-align: right; border: none;}

.tbnav {border: none;}

.cpage {font-weight: bold; color: orange; font-size: 25px;}





/*footer영역에 적용하는 스타일 시트*/
footer p { text-align: center; }
footer hr {width: 960px;}
