/*
전체너비: 너비 1150px
header, footer: height 100px
input box: width 325px

banner: width 850px, height 272px
menu: width 225px

product img: width/height 115px
*/

/*전체적으로 적용*/
/*header, main, footer, nav {border:1px solid red;}*/
body {margin: 0} /*남는 공간 없이 해주는 것*/
ul { list-style: none; padding-bottom: 0; padding-left: 0}
#wrap {width: 1150px; margin: 0 auto;}


/*header*/
header {height: 100px;}
header h1 {background: gainsboro; padding: 20px 50px; margin: 10px 10px 10px 25px;
            width: 70px; float: left; }
header p {float: left; margin-top: 65px;}
header ul { float: right; margin-right: 2px; margin-top: 0px;}
header li { float: left; padding: 5px}


/*nav*/
nav {height: 35px; clear: both; padding-left: 20px; padding-top: 5px; background: gainsboro;}
nav input {border: 1px solid black; padding: 5px; width: 325px;}
nav select {padding: 5px; width: 150px; text-decoration: underline; font-size: 14px}
nav button {padding: 5px; width: 125px; background: silver; font-size: 14px;}


/*main*/
section:nth-child(2) {clear: both;}

aside {width: 285px; float: left;}
aside ul {margin: 10px; border: 3px solid black;}
aside li { border-bottom: 1px solid black; padding: 7px 14px; font-weight: bold; font-size: 18px;}
aside li:last-child {border-bottom: none;}

#banner {width: 850px; height: 272px; float: right; margin: 10px 0px 20px 0; border: 3px solid black;}
#banner h3 {text-align: center; margin-top: 120px;}
#banner ul {float: right; margin-right: 0px; margin-top: 60px; }
#banner li {float: left; margin-right: 20px; padding: 8px 12px; background: gainsboro; font-weight: bold;}

#prodlist h3 {margin-left: 25px;}
#prodlist div {background: gainsboro; width: 120px; height: 120px; border-radius: 10px;}
#prodlist li {float: left; margin-left: 40px; margin-right: 30px;}
#prodlist p {text-align: center; margin-bottom: 40px;}



/*footer*/
footer {height: 100px; clear: both;}
footer ul { float: left; margin-left: 30px; margin-right: 50px; }
